* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}



.container {
  padding-inline: 20px;
}

:root {
  --primary-color: #7b3fe4;
  --primary-light: #9b6ef3;
  --secondary-color: #f3e8ff;
  --text-color: #0f172a;
  --bg-color: #ffffff;
}


body{
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/*HEADER*/

.headerbar {
  position: fixed;
  top: 0;                 /* ติดด้านบนของหน้าจอ */
  width: 100%;
  z-index: 100;
  padding-block: 15px;
  padding: 10px 20px;
  transition: all 0.1s ease;
  background-color: white; /* ใส่พื้นหลังกันโปร่งใส */
  box-shadow: 0 2px 8px rgba(0,0,0,0.1); /* เพิ่มเงาเล็กๆ สวยๆ */
  opacity: 0;  
}

.headerbar.show {
  opacity: 1;             /* แสดงเมื่อถึงด้านบน */
  transform: translateY(0);
}

.headerbar>.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo_text{
  font-weight: 700;
  font-size: 24px;
  color: var(--primary-color);
  cursor: pointer;
}


.navbar_list {
  display: flex;
  gap: 30px;
  font-size: 0.8rem;
}

.navbar {
  padding-inline: 20px;
  position: relative;
  backdrop-filter: blur(10px);
  height: 50px;
  padding: 20px ;

}
nav ul li a:hover {
  color: var(--primary-color);
}

nav ul li a {
  color: var(--text-color);
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
}

.btn-download {
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 22px;
  font-weight: 600;
  transition: background 0.3s ease, transform 0.2s;
  cursor: pointer;
}

.btn-download:hover {
  background: var(--primary-light);
  transform: scale(1.20);
}


/* Profile */

.section_profile {
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.section_profile>.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;


}

.profile_content {
  flex: 1 1 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
  min-width: 260px;

}

.profile_content  h2 {
  font-size: 36px;

}

.profile_content  p {
  font-size: 18px;
  margin-top: 10px;

}


.profile_pic {
  flex: 1 1 50%;
  min-height: 260px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}



.btn_group {
  display: inline-block;
  padding: 12px 28px;
  border-radius: 8px;
  background: var(--primary-color);
  color: #fff;
  font-weight: 600;
  width: 40%;
  font-size: 1.3rem;
  height: 50px;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(123, 63, 228, 0.3);

}

.btn_group:hover {
  background: var(--primary-light);
  transform: translateY(-3px);
}

.profile_pic img {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  object-fit: cover;
  background: #facc15;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  mask-image: radial-gradient(circle, black 60%, transparent 90%);
}

/* About */
.section_about {
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.section_about h1 {
  font-size: 2rem;
  margin-bottom: 15px;
  font-weight: 700;
  color: #0f172a;
}

.section_about p {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #334155;
  margin-bottom: 20px;
}

.about_content button {
  width: 20%;
  height: 50px;
  font-weight: 600;
  font-size: 1.3rem;
}

/* Skill */
.section_skill>.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin-top: 18px;
  padding: 0px 80px 30px 80px;
}

.skill_content {
  background: linear-gradient(180deg, #9b6ef3, #7b3fe4);
  border-radius: 10px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 6px 18px rgba(2, 6, 23, 0.06);
  font-weight: 600;
  color: #0f172a;
  padding: 12px;
  text-align: center;
  border: 2px solid #e2e8f0;
  transition: all 0.3s ease;


}

.skill_content:hover{
  background: var(--primary-light);
  transform: translateY(-3px);
}
.skill_content>i {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  transition: 0.3s;
  padding: auto;
  margin-bottom: 10px;
}


.social_icons {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 5px;
  padding-bottom: 10px;
}

.social_icons a {
  background: #444444;
  color: var(--primary-color);
  transition: transform 0.3s ease, color 0.3s ease;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  transition: 0.3s;
  cursor: pointer;
}

.social_icons a:hover {
  color: var(--primary-light);
  background: #eeeeee;
  transform: translateY(-3px);
}